.git
.github
.env.local
.env.*.local
.env.test
var
vendor
tests
node_modules
public/dev-img
public/images/products/*
public/images/categories/*
!public/images/products/.gitignore
!public/images/categories/.gitignore
docker-compose.yml
docker-compose.override.yml
phpunit.xml.dist
README.md
